DEV_PORTAL_URL=

# not mandatory, you can specify serive id in the request via header "X-service-id"
EXTERNAL_SERVICE_ID=

# set JWT_TOKEN to send a request on a service start (so that you don't need to do an http-request to this service)
# check dev portal on how-to generate a JWT token
JWT_TOKEN=

# default is 3000
PORT=
